
@{
    ViewBag.Title = "Add_hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--//gallery-->
<div class="reservation" id="book1">
    <div class="book-form">
        <h4>ADD HOTEL</h4>
        <form action="#" method="post">
            <div align="justify" class="col-md-4 form-time">
                <input type="text" name="Name" placeholder="Hotel Name" required="" align="left">

            </div>
            <div class="col-md-4 form-left">
                <label><i class="users" aria-hidden="true"></i></label>
                <select class="form-control">

                    <option>Lahore</option>
                    <option>Karachi</option>
                    <option>Multan</option>
                </select>
            </div>
            <div align="justify" class="col-md-4 form-time">
                <input type="text" name="Name" placeholder="Location" required="" align="left">

            </div>

            <div class="clearfix"> </div>

            <div class="col-md-3 form-left-submit">
                <input type="submit" value=" Add ">
            </div>
            <div class="clearfix"> </div>
        </form>

    </div>

</div>


