
@{
    ViewBag.Title = "Delete_city";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--//gallery-->
<div class="reservation" id="book">
    <div class="book-form">
        <div class="mai">
            <div class="col">
                <h4>DELETE CITY</h4>
                <form action="#" method="post">
                    <div align="justify" class="col-md-4 form-time">
                        <input type="text" name="Name" placeholder="Name" required="" align="left">

                    </div>
                    <div align="justify" class="col-md-4 form-date">
                        <input type="text" name="Picture" placeholder="Image Path" required="" align="center">

                    </div>

                    <div class="clearfix"> </div>

                    <div class="col-md-3 form-left-submit">
                        <input type="submit" value=" Delete ">
                    </div>
                    <div class="clearfix"> </div>
                </form>

            </div>

        </div>

