@model Admin.Models.Cities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getCityDetail</title>
</head>
<body>
    <div> 
        <h1> City  Details</h1>



        <h3> City Name : @Model.CityName</h3>

    </div>
</body>
</html>
