@model Admin.Models.Wedding_Halls

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wedding_Hall_Details</title>
</head>
<body>
    <div> 
        <h1> Wedding Hall Details</h1>



        <h3> HotelName : @Model.HotelName</h3>
        <h3>CityName : @Model.CityName</h3>
        <h3>HallName : @Model.HallName</h3>
    </div>
</body>
</html>
