
@{
    ViewBag.Title = "Add_room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--//gallery-->
<div class="reservation" id="book3">
    <div class="book-form">
        <h4>ADD ROOM</h4>
        <form action="#" method="post">
            <div class="col-md-4 form-left">
                <label><i class="users" aria-hidden="true"></i></label>
                <select class="form-control">

                    <option>PC Hotel</option>
                    <option>Flattis</option>
                    <option>Royal Palm</option>
                </select>
            </div>
            <div class="col-md-4 form-left">
                <label><i class="users" aria-hidden="true"></i></label>
                <select class="form-control">

                    <option>Lahore</option>
                    <option>Karachi</option>
                    <option>Multan</option>
                </select>
            </div>
            <div class="col-md-4 form-left">
                <label><i class="users" aria-hidden="true"></i></label>
                <select class="form-control">

                    <option>Gold</option>
                    <option>Silver</option>
                    <option>Platinum</option>
                </select>
            </div>
            <div class="clearfix"> </div>

            <div class="col-md-3 form-left-submit">
                <input type="submit" value=" Add ">
            </div>
            <div class="clearfix"> </div>
        </form>

    </div>

</div>


