@model Admin.Models.Rooms

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomsDetails</title>
</head>
<body>
    <div> 
        <h1> Rooms  Details</h1>



        <h3> HotelName : @Model.HotelName</h3>
        <h3>CityName : @Model.CityName</h3>
        <h3>Category : @Model.Category</h3>
    </div>
</body>
</html>
